// Jade

!!!

html(lang='en')
  head
    meta(charset='utf-8')
    title Talk.io
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Talk.io teleconferencing web application')
    meta(name='author', content='Aleksandar Dezelin')

    block head

    block links
      link(rel='stylesheet', href='/normalize-css/normalize.css')
      link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
      link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='shortcut icon', href='/favicon.ico')

      // [if lt IE 9]>
      script(src='/javascripts/html5shiv.js')
      script(src='/javascripts/ie9.js')
      // ![endif]

  // Fav and touch icons
  <link rel='apple-touch-icon-precomposed' sizes='144x144' href='/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='114x114' href='/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='72x72' href='/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' href='/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png'>
  <link rel='shortcut icon' href='/bootstrap/docs/assets/ico/favicon.png'>
  
  body
    .container
      header
        .masthead
          h3.muted Talk.io

        block header
        
        nav
          .navbar
            .navbar-inner
              .container
                ul.nav
                  li.active 
                    a(href='#') Home
                  li
                    a(href='#') About
                  li
                    a(href='#') Plans &amp; pricing
                  li
                    a(href='#') Blog
                  li
                    a(href='#') Contact &amp; support

                  
          block navigation
    
      block featured
      block body
      block extras

      hr
    
      footer
        .navbar.row-fluid
          nav.span3
            h4 Talk.io
            ul
              li
                a(href='#') About us
              li
                a(href='#') Blog
              li
                a(href='#') Contact &amp; support
              li
                a(href='#') Site status
      
          nav.span3
            h4 Applications
            ul
              li
                a(href='#') Android
              li
                a(href='#') iOS
              li
                a(href='#') Windows Phone 8
            
          nav.span3
            h4 Documentation
            ul
              li
                a(href='#') Talk.io Help
              li
                a(href='#') Developer API

          nav.span3
            h4 More
            ul
              li
                a(href='#') Plans &amp; pricing
              li
                a(href='#') We are hiring
              

        block footer

        hr

        .legal
            ul.pull-left.inline
              li 
                a(href='#') Terms of service
              li 
                a(href='#') Privacy
              li
                a(href='#') Security

            p.pull-right &copy; 2012 Talk.io Headquarters. All rights reserved. 

        block copyright

    block scripts
      script(src='/jquery/jquery.min.js')
      script(src='/angular/angular.js')
      script(src='/bootstrap/docs/assets/js/bootstrap.min.js')
